/* 
    Document   : styles
    Created on : 3 juin 2013, 07:03:07
    Author     : komilo
    Description:
        Purpose of the stylesheet follows.
*/
#logo {
   color: #6C1449 
}
#header-right {
    float: right;
}
#menu {
    float: right;
    margin-top: 10px;
}
#theme-switcher {
    float: right;
    margin-top: 10px;
    padding: 0 5px;
}
#theme-switcher ul, #theme-switcher ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#theme-switcher ul li a:link,
#theme-switcher ul li a:visited{
    text-decoration: none;
}
#theme-switcher ul li a:hover {
    text-decoration: underline;
}
.clear {
    clear: both;
}

#links {
    text-align: right;
}

#menu ul, #menu ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu ul li {
    float: left;
    padding: 2px 5px;
}
#menu ul li a:link,
#menu ul li a:visited{
    text-decoration: none;
}
#menu ul li a:hover {
    text-decoration: underline;
}

.ui-widget, .ui-widget .ui-widget {
    font-size: 95%;
}
h1 {
    margin: 0;
}
.login-panel {
    width: 400px;
    margin: auto;
}
#login_div{
    margin-top: 100px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
color: #6C1449 !important;
}